# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
venv/
.env

# Runtime files (SERVER ONLY)
.build_version
*.log
instance/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Secrets
.env.local
.env.production

# backups
*.bak*
*.tar.gz

# flask runtime
flask_session/

# temp archives
templates_ready*
